@import "tailwindcss";

/* custom font */
@font-face {
  font-family: "micro";
  src: url("fonts/Micro.woff2") format("woff2");
  font-display: swap;
}

@theme {
  /* head font */
  --font-head: "micro", sans-serif;

  /* body font */
  --font-body: "Share Tech Mono", monospace;
}

/* ui */
:root[data-theme="dark"] {
  --bg-main: #000000;
  --txt-main: #d3d3d3;
  --txt-sec: #ebebf559;
  --txt-ter: #313131;
}

:root[data-theme="light"] {
  --bg-main: #ffffff;
  --txt-main: #000000;
  --txt-sec: #8b8b8f;
  --txt-ter: #e9e9eb;
}

body {
  background: var(--bg-main);
  color: var(--txt-main);
  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  text-transform: uppercase;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background-color: var(--bg-main);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--txt-main);
  border-radius: 4px;
}

section {
  width: 100%;
  min-height: calc(100dvh - 78px);
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* font style for the header tag */
.font-head-style {
  font-family: var(--font-head);
  color: var(--txt-main);
  user-select: none;
  -webkit-user-select: none;
  font-size: 136px;
  line-height: 120px;
  letter-spacing: -9px;
}

.font-head-number {
  font-family: var(--font-head);
  user-select: none;
  -webkit-user-select: none;
  font-size: 136px;
  line-height: 120px;
  letter-spacing: -9px;
}




@media screen and (max-width: 1439px) {
  .font-head-number {
    font-size: 80px;
    line-height: 75px;
    letter-spacing: -3px;
  }
}



@media screen and (max-width: 1279px) {
  .font-head-style {
    font-size: 120px;
    line-height: 106px;
    letter-spacing: -7px;
  }
}

@media screen and (max-width: 1023px) {
  .font-head-style {
    font-size: 100px;
    line-height: 90px;
    letter-spacing: -5px;
  }
  .font-head-number {
    font-size: 60px;
    line-height: 56px;
    letter-spacing: -2px;
  }
}

@media screen and (max-width: 909px) {
  .rank-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: start;
    gap: 14px;
  }

  .up-gap{
    margin-top: 35px;
  }

  .font-head-style{
    padding-left: 5px;
  }
}

@media screen and (max-width: 860px) {
  .font-head-style {
    font-size: 80px;
    line-height: 75px;
    letter-spacing: -3px;
  }
}

@media screen and (max-width: 719px) {
  .font-head-style {
    font-size: 60px;
    line-height: 56px;
    letter-spacing: -2px;
  }
}

@media screen and (max-width: 529px) {
  .font-head-style, .font-head-number {
    font-size: 48px;
    line-height: 45px;
    letter-spacing: -1px;
  }

  body{
    font-size: 14px;
  }
}

@media screen and (max-width: 439px) {
  .font-head-style, .font-head-number {
    font-size: 34px;
    line-height: 32px;
    letter-spacing: 0px;
  }

  .recharts-polar-angle-axis-tick text {
    font-size: 10px !important;
  }
  
  body{
    font-size: 12px;
  }
}
